.App {
  text-align: center;
}

.BtnsFlex {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.BtnsFlex button {
  padding: 10px 12px;
}

.WrapperInfo {
  margin-top: 20px;
}

.WrapperInfo div {
  margin-bottom: 10px;
}
